body {
    color: #222;
    background: #f8f8f8;
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
}

section>article{
    border: 1px solid #666;
    border-radius: 1em;
    background-color: #fff;
    margin: 2em;
    padding: 1em;

}

article.unloaded {
    min-height: 10em;
    background-color: #bbb;
}

article[data-new="1"]{
    box-shadow: .5em .5em .5em #666 ;
}

article img{
    max-width: 90%;
}

.feed-xkcd blockquote{
    margin:2.5em;
    font-style: italic;
}

h1 a, h2 a{
    color:#222;
    text-decoration: none;
}

h1 a:hover, h2 a:hover{
    color:#222;
    text-decoration: underline;
}