html
    head
        title my rss reader
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="/css/main.min.css")
        script(src="/js/sloth.min.js")
        script(src="/js/index.min.js")
        base(target="_blank")

    body
        section#main
            for item in items
                article.unloaded(data-url=item)
